@{
	ViewData["Title"] = "Shop";
}
<body style="background-image: url(https://media.istockphoto.com/vectors/kawaii-style-coffee-drinks-vector-illustration-set-vector-id1209902844?k=20&m=1209902844&s=612x612&w=0&h=dKhoOfeAzTMkUuZvITpcjxZL0YIUssNPdXaBVaBCQgE=)">

	<div class="text-center">
		<h1 class="display-4"
			style="background-color: #473304; color: #85785b">
			Welcome to the @ViewData["Title"]
		</h1>
		<h3 style="background-color: #473304; color: #85785b"> New users, please create an account to have a welcome reward sent to your email. </h3>
	</div>


	@*<div
		style = "  display:inline-block;
		color:#444;
		border:1px solid #CCC;
		background:#DDD;
		box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
		cursor:pointer;
		vertical-align:middle;
		max-width: 100px;
		padding: 5px;
		text-align: center;
		">
	*@

	<div>

		<p style="text-align: center">
			<a asp-controller="Home" asp-action="UserInput" class="btn btn-primary">Sign Up </a>
		</p>


	</div>



</body>
